<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- offset - to center the form  -->
    <div class="col-8 offset-2" >
        <br>
        <h2>Create New Listing</h2>
        <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div>
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required>
                <!-- <div class="valid-feedback">Title looks good</div> -->
                <div class="invalid-feedback">Please enter title</div>
            </div>
            
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" placeholder="Discription" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a short discription</div>
            </div>
            
            <!-- <div>
                <label for="image-url" class="form-label">Image Link</label>
                <input name="listing[image][url]" type="text" placeholder="Image URL/Link" class="form-control">
            </div> -->
            
            <div>
                <label for="image-url" class="form-label">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control" >
                <div class="invalid-feedback">Please Upload an Listing Image</div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>
                
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" type="text" placeholder="Jaipur, Rajasthan" class="form-control" required>
                <div class="invalid-feedback">Location name should be valid</div>
            </div>
            
            <br>
            <button  class="btn btn-dark add-btn">Upload</button>
            <br><br>
        </form>
    </div>
</body>